#root {
  background-color: #F8FAFC;
  width: 100%;
}

/* modo dark para #root */
.dark #root {
  background-color: #121212; /* ou outra cor escura que queiras */
}
html, body, #root {
  height: 100%;
  margin: 0;
}

