#root {
  background-color: var(--background);
  width: 100%;
}

/* modo dark para #root */
.dark #root {
  background-color: var(--dark-background);
}
html, body, #root {
  height: 100%;
  margin: 0;
}

